/* Transition Box */
h2 {
    text-decoration: underline black 1px;
    text-align: center;
}
.container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-left: 50px;
    grid-row-gap: 100px;
    max-width: 90%;
    margin: 0 auto;
    padding: 0;
}
.box {
    width: 200px;
    height: 200px;
    background-color: var(--lightGray);
    justify-content: center;
    align-items: center;
    font-size: 0.9em;
    text-align: left;
    padding: 10px;
    overflow: hidden;
    text-align-last: center;
}

/* Transition Properties */
.one:hover {
    background-color: var(--yellow);
    transition-property: background;
}
.two:hover {
    background-color: var(--yellow);
    transition-property: background;
    transition-duration: 1000ms;
}
.three:hover {
    background-color: var(--yellow);
    transition-property: background;
    transition-duration: 1000ms;
    transition-delay: 750ms;
}
.four:hover {
    background-color: var(--yellow);
    transition-property: background;
    transition-duration: 1000ms;
    transition-delay: 250ms;
    transition-timing-function: ease-in;
}
.five:hover {
    background-color: var(--yellow);
    transition: background 1000ms ease-in 250ms;
}

/* Transform Property */
.six:hover {
    transform: rotate(45deg);
    transition-property: transform;
    transition-duration: 1000ms;
}
.seven:hover {
    transform: skewX(-15deg);
    transition-property: transform;
    transition-duration: 1000ms;
}
.eight:hover {
    transform: scaleY(1.1);
    transition-property: transform;
    transition-duration: 1000ms;
}
.nine:hover {
    transform: translate(10px, 0);
    transition-property: transform;
    transition-duration: 1000ms;
}
.ten:hover {
    transform: translateY(10px);
    transition-property: transform;
    transition-duration: 1000ms;
}

/* Transition Timing Function */
.container2 {
    width: 88vw;
    height: 300px;
    margin-left: 50px;
    padding: 0;
}
.box2 {
    width: 250px;
    height: 50px;
    transition-duration: 2000ms;
    transition-property: width;
    text-align: left;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box2:hover {
    width: 1350px;
}

.eleven:hover {
transition-timing-function: linear;
}
.twelve:hover {
    transition-timing-function: ease;
}
.thirteen:hover {
    transition-timing-function: ease-in;
}
.fourteen:hover {
    transition-timing-function: ease-out;
}
.fifteen:hover {
    transition-timing-function: ease-in-out;
}
.eleven {
    background-color: var(--yellow);
}
.twelve {
    background-color: #dddd00;
}
.thirteen {
    background-color: #bbbb00;
}
.fourteen {
    background-color: #999900;
}
.fifteen {
    background-color: #777700;
}