body {
    margin-top: 5%;
    padding-left: 1%;
}

/* NAVBAR ! */

nav ul {
    list-style-type: none;
    position: fixed;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    z-index: 1000;
    background-color: var(--darkGray);
    border: 1px solid black;
    overflow: hidden; /*Horizontal Navbar needs overflow : hidden*/
}
    nav ul li {
        border-right: 1px solid black;
        float: left;
        font-size: 1.25em;
    }
    nav ul li:last-child {
        border-right: none;
    }
        nav ul li a, .dropbtn {
            display: inline-block;
            text-align: center;
            padding: 16px 40px;
            color: var(--yellow);
            font-size: 1.5em;
            text-decoration: none;
        }
            nav ul li a.active {
                background-color: var(--lightGray);
                color: white;
            }
            nav ul li a:hover:not(.active) {
                background-color: var(--yellow);
                color: black;
            }

/* */
.dropbtn {
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}
    .dropdown:hover .dropdown-content {
        display: block;
    }
        
    .dropdown:hover .dropbtn {
        background-color: var(--yellow);
        color: black;
    }

.dropdown-content {
    display: none;
    position: fixed;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 10000;
}
    .dropdown-content a {
        color: var(--yellow);
        background-color: var(--darkGray);
        opacity: 0.9;
        text-decoration: none;
        display: block;
        border: 1px solid black;
    }
    .dropdown-content a:hover {
        background-color: #f1f1f1;
    }
    .dropdown-content a.active {
        background-color: var(--lightGray);
        color: white;
    }